
<!DOCTYPE html>
<html lang="en"> {{$car := .}}
<head>
    <meta charset="UTF-8">
    <title>Cars - {{$car.Manufacter}}</title>
</head>
<body>
<ul>
    <li>Manufacer: {{$car.Manufacter}}</li>
    <li>Model: {{$car.Model}}</li>
    <li>Number of doors: {{$car.Doors}}</li>
</ul>
</body>
</html>