
<!DOCTYPE html>
<html lang="en"> {{$car := .}}
<head>
    <meta charset="UTF-8">
    <title>Cars - {{$car.Manufacturer}}</title>
</head>
<body>
<ul>
    <li>Manufacturer: {{$car.Manufacturer}}</li>
    <li>Model: {{$car.Model}}</li>
    <li>Number of doors: {{$car.Doors}}</li>
</ul>
</body>
</html>